body {
       background-image: url("shigeo.PNG");
      background-color:white;}
     
     h1 { display:block;
        margin:auto;
        font-family:sans-serif; 
      text-align:center;
      background-color:white;
      }
     
     p {display:block;
        margin:auto;
        font-family:sans-serif; 
        text-align:center; 
      background-color:white;}
