body {
       background-image: url("thumb.jpg");
      background-color:white;}
     
     h1 { display:block;
        margin:auto;
        font-family:sans-serif; 
      text-align:center;
      background-color:white;
      }

.header { display:block;
        margin:auto;
        font-family:sans-serif; 
      text-align:center;
      background-color:white;
       font-size:75px;
      }

     p {display:block;
        margin:auto;
        font-family:sans-serif; 
        text-align:center; 
      background-color:white;}
